.container {
    min-height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.figure {
    width: 100%;
    height: 500px;
    text-align: right;
}

.figure img {
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px -4px rgba(0,0,0,0.20);
    border-radius: 20px;
    object-fit: cover;
}

.figure figcaption {
    margin-top: 5px;
}

.containerScroll {
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
    text-align: center;
}

.containerScroll p {
    font-size: 12px;
}

.highlight {
    color: #D9BAA4;
}

.button {
    margin-top: 10px;
    margin-right: 10px;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .wrapper {
        display: flex;
        flex-direction: column-reverse;
    }    

    .figure {
        width: 90%;
        height: 280px;
        text-align: right;
        margin-right: 0;
        margin-left: auto;
        margin-bottom: 30px
    }

    .figure img {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .container {
        padding: 20px 0 0 0;
    }

    .containerScroll {
        display: none;
    }

    .title {
        margin: 0 30px;
    }
}