.container {
    min-height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.containerScroll {
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
    text-align: center;
}

.containerScroll p {
    font-size: 12px;
}

.bold {
    font-weight: 700;
}

.button {
    margin-right: 10px;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .container {
        padding: 50px 0 0 0;
    }

    .containerScroll {
        display: none;
    }
}