.container {
    width: 100%;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    text-align: left;
    justify-content: center;
    align-items: center;
}

.container img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}


.container p {
    font-size: 12px;
    line-height: 16px;
    margin: 0;
}

.success {
    background-color: #b7d8a7;
    color: #52c41b;
}

.error {
    background-color: #f9e9ea;
    color: #f5222e;
}