body {
    height: 100%;
    background-color: #000000;
    color: #CDCDCD;
    font-family: "Gotham", sans-serif;
    position: relative;
}

p, ul, li {
    line-height: 30px;
    font-size: 16px;
}

.h1-subtitle {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #CDCDCD;
    letter-spacing: 0.8px;
}

.h3-subtitle {
    text-transform: uppercase;
    opacity: 0.5;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.7px;
    line-height: 24px;
    color: #CDCDCD;
}

.active li {
    font-weight: 500;
    color: #FFFFFF;
}

.bold {
    font-weight: 700;
}

.ant-col {
    padding: 0 15px;
}

.ant-form {
    text-align: left;
}

.ant-form-item-label > label {
    color: #CDCDCD;
}

.ant-input {
    background-color: #090909;
    color: #454545;
}

.ant-input:focus, .has-error .ant-input, .has-error .ant-input:hover, .ant-input:hover {
    background-color: #090909;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 375px) {
    p, ul, li {
        line-height: 23px;
        font-size: 13px;
    }
    
    .h1-subtitle {
        font-size: 15px;
        letter-spacing: 0.6px;
        line-height: 30px;
    }
    
    .h3-subtitle {
        font-size: 12px;
        letter-spacing: 0.5px;
        line-height: 10px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    p, ul, li {
        line-height: 28px;
        font-size: 15px;
    }
}