body {
    height: 100%;
    color: #000000;
    font-family: "Gotham", sans-serif;
    position: relative;
}

p, ul, li {
    line-height: 30px;
    font-size: 16px;
}

.h1-subtitle {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    color: rgba(0,0,0,0.50);
    letter-spacing: 0.8px;
}

.h3-subtitle {
    text-transform: uppercase;
    opacity: 0.5;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.71px;
    line-height: 30px;
}

.active li {
    font-weight: 500;
    color: #000000;
}

.ant-col {
    padding: 0 15px;
}