.container {
    padding: 40px 0 40px 0;
}


.container hr {
    height: 4px;
    width: 40px;
    background-color: #D9BAA4;
    border: none;
    margin-left: 0px;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .container {
        padding: 20px 0 20px 0;
    }
}

.title {
    margin-top: 10px;
    margin-bottom: 0;
}
