.container {
    position: relative;
}

.containerCentred {
    padding: 80px 0 20px 0;
    text-align: center
}

.containerBackground {
    padding: 80px 0 120px 0;
    z-index: 2;
    position: relative;
}

.background {
    position: absolute;
    width: 32%;
    right: 0;
    top: 0;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .background {
        width: 32%;
        top: 50%; 
        bottom: 50%;
        transform: translateY(-50%);
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .containerBackground {
        padding: 80px 0 250px 0;
    }

    .background {
        width: 50%;
        right: 0;
        bottom: 0;
        transform: none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .containerBackground {
        padding: 80px 0 300px 0;
    }

    .background {
        width: 80%;
        transform: translateY(100px)
    }
}

.button {
    margin: 0 10px 10px 0;
}

.container {
    padding: 80px 0;
}