.container {
    position: relative;
}

.containerCentred {
    padding: 80px 0;
    text-align: center
}

.containerBackground {
    padding: 80px 0 120px 0;
    z-index: 2;
    position: relative;
}

.background {
    position: absolute;
    width: 32%;
    right: 0;
    top: 0;
}

.button {
    margin: 0 10px 10px 0;
}

.container {
    padding: 80px 0;
}