.container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.wrapper {
    height: 100% !important;
}

.column {
    border-left: 1px #F5F5F5 solid;
    height: 100%;
}

.column:last-child {
    border-right: 1px #F5F5F5 solid;
}